In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-10-22 06:43:53,42.6001,-73.9662,61.27,89,100,5.03
1,1,Hilo,US,2021-10-22 06:44:47,19.7297,-155.0900,73.27,78,1,4.61
2,2,Thinadhoo,MV,2021-10-22 06:44:48,0.5333,72.9333,82.85,70,80,8.99
3,3,Bushehr,IR,2021-10-22 06:44:48,28.9684,50.8385,82.42,44,0,9.22
4,4,Cheremukhovo,RU,2021-10-22 06:44:49,60.3484,59.9851,35.08,82,100,4.63

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. Eliminar negativos
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Thinadhoo,MV,2021-10-22 06:44:48,0.5333,72.9333,82.85,70,80,8.99
3,3,Bushehr,IR,2021-10-22 06:44:48,28.9684,50.8385,82.42,44,0,9.22
7,7,Garowe,SO,2021-10-22 06:44:50,8.4054,48.4845,81.59,51,88,2.01
10,10,Butaritari,KI,2021-10-22 06:44:51,3.0707,172.7902,82.35,78,37,12.41
11,11,Bengkulu,ID,2021-10-22 06:42:25,-3.8004,102.2655,82.09,74,100,6.49
12,12,Mayumba,GA,2021-10-22 06:44:52,-3.4320,10.6554,77.52,85,100,4.54
14,14,Saint-Philippe,RE,2021-10-22 06:44:53,-21.3585,55.7679,80.22,73,35,7.23
16,16,Makakilo City,US,2021-10-22 06:41:21,21.3469,-158.0858,75.56,76,20,6.91
17,17,Sao Filipe,CV,2021-10-22 06:44:54,14.8961,-24.4956,80.04,65,0,3.53
19,19,Nabire,ID,2021-10-22 06:44:55,-3.3667,135.4833,77.00,90,100,3.02

In [12]:
preferred_cities_df.count()

City_ID       166
City          166
Country       165
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [13]:
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2        Thinadhoo      MV     82.85   0.5333   72.9333
3          Bushehr      IR     82.42  28.9684   50.8385
7           Garowe      SO     81.59   8.4054   48.4845
10      Butaritari      KI     82.35   3.0707  172.7902
11        Bengkulu      ID     82.09  -3.8004  102.2655
12         Mayumba      GA     77.52  -3.4320   10.6554
14  Saint-Philippe      RE     80.22 -21.3585   55.7679
16   Makakilo City      US     75.56  21.3469 -158.0858
17      Sao Filipe      CV     80.04  14.8961  -24.4956
19          Nabire      ID     77.00  -3.3667  135.4833

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Thinadhoo,MV,82.85,0.5333,72.9333,
3,Bushehr,IR,82.42,28.9684,50.8385,Yas Hotel
7,Garowe,SO,81.59,8.4054,48.4845,Curubo Hotel
10,Butaritari,KI,82.35,3.0707,172.7902,Isles Sunset Lodge
11,Bengkulu,ID,82.09,-3.8004,102.2655,Grage Hotel Bengkulu
12,Mayumba,GA,77.52,-3.4320,10.6554,LIKWALE LODGE
14,Saint-Philippe,RE,80.22,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
16,Makakilo City,US,75.56,21.3469,-158.0858,Marriott's Ko Olina Beach Club
17,Sao Filipe,CV,80.04,14.8961,-24.4956,Hotel Xaguate
19,Nabire,ID,77.00,-3.3667,135.4833,Hotel Nusantara Nabire

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))